/* styles.css */
* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-top: -250px;
}

.logo-button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background: transparent;
    box-shadow: none;
}

.logo-image {
    width: 1000px;
    height: 600px;
    object-fit: contain;
}

.new-page {
    position: absolute;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease, background-color 1s ease;
}

.new-page.slide-up {
    opacity: 1;
    transform: translateY(0);
}

.new-page.white-background {
    background-color: #000000;
}

h1 {
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: -10px;
}

.button-container {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-top: -65px;
    width: 100%;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button-link:hover {
    background-color: black;
}

.signup-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h2 {
    color: darkorange;
    justify-content: center;
    padding: 10px 15px;
    margin-top: -75px;
    text-align: right;
    margin-bottom: -15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #428bca;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #357ab8;
}

p {
    color: white;
    text-align: center;
}

.logo-container {
    position: absolute;
    top: -100px;
    left: -140px;
    width: 500px;
}

.logo {
    width: 100%;
    height: auto;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.loader {
    font-size: 24px;
}

.hidden {
    display: none;
}

.loading-screen.visible {
    display: flex;
    opacity: 1;
}

